version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:00"
      timezone: "UTC"
    open-pull-requests-limit: 20
    rebase-strategy: "auto"
    versioning-strategy: "increase"
    commit-message:
      prefix: "deps"
      include: "scope"
    labels:
      - "dependencies"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:30"
      timezone: "UTC"
    open-pull-requests-limit: 20
    rebase-strategy: "auto"
    commit-message:
      prefix: "ci"
      include: "scope"
    labels:
      - "dependencies"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "03:00"
      timezone: "UTC"
    open-pull-requests-limit: 20
    rebase-strategy: "auto"
    commit-message:
      prefix: "docker"
      include: "scope"
    labels:
      - "dependencies"
